body {
    background-color: #001120;
}


/*Navigation*/

.navbar-brand img {
    height: 4.5rem;
    padding-left: 20px!important;
}

.navbar {
    position: unset;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Montserrat';
    z-index: 10;
    background-color: #08002400!important;
    /*whichever you want*/
    opacity: 1;
    /*0.5 determines transparency value*/
    filter: (opacity=1);
    width: 100%;
    padding: 0;
}

.nav-link {
    color: #ffffff!important;
}

a.nav-link::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: rgba(130, 177, 231, 0.616);
    margin-top: 2px;
    transition: all ease-in-out 250ms;
}

a.nav-link:hover::after {
    width: 100%;
}

.nav-link>a .nav-link.active {
    color: #4981b3!important;
}

.nav-link:hover {
    text-shadow: 2px 2px 3px #000000;
}

.navbar-toggler {
    border-color: rgb(209, 209, 209)!important;
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}


/*End Navigation*/


/*Carousel*/

.carousel-caption {
    position: absolute;
    top: 25%;
    left: 3%;
    overflow: hidden;
}

.carousel-caption h1 {
    font-size: 80px;
    font-family: 'Rock Salt';
    text-shadow: 3px 2px 1px #000000;
}

.carousel-caption p {
    font-size: 19px;
    font-family: 'Montserrat';
    padding-top: 10px;
}

.btn.btn-primary.bigButton {
    width: 200px;
    font-size: 25px;
    height: 54px;
    transform: translateX(-3%);
}

a.btn.btn-primary {
    position: unset;
    left: 2%;
    background: radial-gradient(circle, rgba(25, 98, 164, 1) 0%, rgba(14, 62, 106, 1) 100%, rgba(27, 60, 89, 1) 100%);
    border: #000000;
    font-size: 20px;
    text-shadow: 3px 1px 3px #000000;
    border-radius: 10px;
    box-shadow: -2px 3px 4px rgb(0, 0, 0);
    width: 11rem;
    height: 3rem;
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 10px;
}

a.btn.btn-primary:hover {
    background: #c8e5ff!important;
    color: rgb(0, 17, 29);
    font-weight: bold;
    text-shadow: 0px 0px 0px #000000;
    transition: all ease-in-out 250ms;
}


/*End of Carousel*/


/*About Us*/

h1 {
    font-family: 'Rock Salt';
    color: #ffffff !important;
    text-align: center;
}

h1.header::after {
    position: absolute;
    content: '';
    display: block;
    height: 3px;
    width: 25%;
    background: rgba(235, 235, 235, 0.616);
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    left: 37%;
}

.aboutUs p {
    font-size: 23px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 500;
}

.aboutUs img {
    width: 1000px;
}


/*End of About Us*/


/*Classes*/

.bg-full {
    position: relative;
}

.bg-full:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100vw;
    background-image: url(/img/classes.png);
    background-size: cover;
}

html {
    overflow-x: hidden;
}

.classDesc {
    background: rgb(0, 24, 45, .7)!important;
    width: auto;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 21px;
    font-weight: lighter;
}

.classes h3
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:rgb(243, 242, 242);
    font-family: 'Montserrat';
    font-weight: 300;
    opacity: 100%;
    transition: all ease-in-out 250ms;
    width:10rem;
    text-align: center;
}

.classesBG
{
    position: absolute;
    background-color: rgba(105, 105, 105, 0.747);
    height:100%;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all ease-in-out 250ms;
}

.classesBG:hover{
    opacity: 100%;
}

/*End of Classes*/


/*Schools*/

.school {
    background: rgb(199, 199, 199, .22);
    text-align: center;
    border-radius: 10%;
    height: 22rem;
    max-width: 19.5rem;
    margin: 20px;
}

.schoolImg {
    max-height: 90%;
}

.schoolDesc {
    background: rgb(197, 195, 195);
    width: inherit;
    height: 30%;
    border-radius: 0 0 20px 20px;
    margin-right: 0;
}

.schoolDesc>h5 {
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 21px;
    color: #001437;
}

.schoolDesc>a.btn.btn-primary {
    font-size: 15px;
    width: 8rem;
    height: 2.5rem;
    left: 30%;
}


/*End of Schools*/


/*Testimonials*/

.testimonials {
    position: relative;
}

.testimonials:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100vw;
    background-image: url(/img/testimonials.png);
    background-size: cover;
}

.testimonial {
    color: #E6E6E6;
    font-family: 'Montserrat';
    font-size: 33px;
    font-weight: 300;
    font-style: italic;
    padding: 0 5rem 0 5rem!important;
}

.testimonialBy {
    color: #E6E6E6;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    left: 200px;
}
.carousel-item-active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}


/*End of Testimonials*/


/*Performances*/
.performances h3 {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 85px;
}

.col-lg-2>h3.text-left {
    color: #0090FF;
}

footer {
    background: #262626;
    height: 135px;
}


/*End of Performances*/


/*Footer*/
footer.container{
    max-height:  6rem;
}
 footer h4{
     color:white;
     font-family: 'Montserrat';
     font-size: 15px;
     font-weight: 500;
 }

 footer {
    position: relative;
  }

  footer:before {
    content:'';
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 6rem;
    height:100%;
    width:100vw;
    background-color: #262626;
    background-size: cover;
  }

  footer a.btn.btn-primary{
      left:65%;
      background: linear-gradient(90deg, rgb(55, 105, 151) 0%, rgba(44,118,185,1) 35%, rgb(25, 83, 138) 100%);
  }

/*End of Footer*/

@media only screen and (min-width: 992px) {
    .navbar {
        position: absolute;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: .1rem;
        font-family: 'Montserrat';
        z-index: 10;
        background-color: #00000050!important;
        opacity: 1;
        filter: (opacity=1);
        width: 100%;
        padding: 0;
    }
    .nav-link {
        color: #ffffff!important;
        padding-left: 20px!important;
    }
    a.nav-link::after {
        content: '';
        display: block;
        height: 3px;
        width: 0%;
        background: rgba(130, 177, 231, 0.616);
        margin-top: 2px;
        transition: all ease-in-out 250ms;
    }
    .nav-link:hover {
        text-shadow: 2px 2px 3px #000000;
        color: blue;
    }

    .performances h3 {
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 70px;
    }
    
    h3.text-left.marker {
        color: #0090FF;
    }
}

@media only screen and (max-width:991px)
{
    a.nav-link:hover::after {
        width: 0;
    }

    .carousel-caption {
        position: absolute;
        top: 10%;
        left: 3%;
        overflow: hidden;
    }
    .carousel-caption h1 {
        font-size: 50px;
        font-family: 'Rock Salt';
        text-shadow: 3px 2px 1px #000000;
    }
    .carousel-caption p {
        font-size: 20px;
        font-family: 'Montserrat';
        padding-top: 10px;
    }
    .btn.btn-primary.bigButton {
        width: 140px;
        font-size: 15px;
        height: 40px;
        transform: translateX(-3%);
    }

    .aboutUs p{
        font-size: 20px;
        text-align: justify;
    }

    .customButton{
        text-align: center;
        height:auto;
    }

    a.btn.btn-primary {
        left: 2%;
        background: radial-gradient(circle, rgba(25, 98, 164, 1) 0%, rgba(14, 62, 106, 1) 100%, rgba(27, 60, 89, 1) 100%);
        border: #000000;
        font-size: 18px;
        text-shadow: 3px 1px 3px #000000;
        border-radius: 10px;
        box-shadow: -2px 3px 4px rgb(0, 0, 0);
        width: 9rem;
        height: 3rem;
        font-family: 'Montserrat';
        text-align: center;
        padding-top: 10px;
    }

    .classes a.btn.btn-primary{
      width:8rem;
      height:3rem;
      margin-bottom:1.2rem;
    }

    .classDesc p
    {
        text-align: center;
    }

    .performances h3 {
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 50px;
    }
    
    h3.text-left.marker {
        color: #0090FF;
    }
}

@media only screen and (min-width:1200px)
{
    .performances h3 {
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 85px;
    }
    
    .col-sm-2>h3.text-left {
        color: #0090FF;
    }

    .performances h3 {
        color: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 85px;
    }
    
    h3.text-left.marker {
        color: #0090FF;
    }
}